<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.development.module.prescription.mapper.PrescriptionDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.spring.development.module.prescription.entity.PrescriptionDetail">
        <id column="id" property="id" />
        <result column="orgcode" property="orgcode" />
        <result column="orgname" property="orgname" />
        <result column="uid" property="uid" />
        <result column="uname" property="uname" />
        <result column="type" property="type" />
        <result column="doctor_name" property="doctorName" />
        <result column="doctor_phone" property="doctorPhone" />
        <result column="check_doctor" property="checkDoctor" />
        <result column="check_phone" property="checkPhone" />
        <result column="symptom" property="symptom" />
        <result column="sex" property="sex" />
        <result column="age" property="age" />
        <result column="date" property="date" />
        <result column="medicine" property="medicine" />
        <result column="advice" property="advice" />
        <result column="price" property="price" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, orgcode,orgname, uid,uname, type, doctor_name, doctor_phone, check_doctor, check_phone, symptom, sex, age, date, medicine, advice, price
    </sql>
    <select id="countPrescription"
            resultType="com.spring.development.module.prescription.entity.response.PrescriptionCountData">
        select orgname, sum(case when origin=1 then 1 else 0 end ) local, sum(case when origin=9 then 1 else 0 end ) outside,
        sum(case when type=1 then 1 else 0 end ) normal,
        sum(case when type=2 then 1 else 0 end ) special,
        COUNT(id) total
        FROM prescription_detail
        WHERE orgname in (SELECT name FROM organization)
        GROUP BY orgname
    </select>

</mapper>
