<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.development.module.user.mapper.UserRoleMapper">
    <resultMap id="userRoleMap" type="com.spring.development.module.user.entity.UserRole">
        <id column="id" property="id"/>
        <result column="uid" property="uid"/>
        <result column="rid" property="rid"/>
    </resultMap>
    <insert id="create">
        insert into user_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">uid,</if>
            <if test="rid != null">rid,</if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="uid != null">#{uid},</if>
            <if test="rid != null">#{rid},</if>
        </trim>
    </insert>
    <update id="setUserRole">
        update user_role
        <set>
            <if test="destId != null">
                rid=#{destId}
            </if>
        </set>
        <where>
            <if test="uid != null">
                uid=#{uid} and rid = #{sourceId}
            </if>
        </where>
    </update>
    <delete id="delUserRole">
        delete from user_role
        <where>
            uid = #{uid} and rid = #{rid}
        </where>
    </delete>
    <select id="getUserRoleByUid" resultType="com.spring.development.module.user.entity.UserRole">
        select * from user_role
        <where>
            <if test="uid != null">
                uid=#{uid}
            </if>
        </where>
    </select>
    <select id="getRoleList" resultType="java.lang.String">
        select distinct code from role, user_role
        <where>
            role.id = user_role.rid
            <if test="uid != null">
                and user_role.uid = #{uid}
            </if>
        </where>
    </select>
</mapper>